<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640146848434-govn4o47jmq21vi107bda9hv1ovudcf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640146848434-govn4o47jmq21vi107bda9hv1ovudcf6</string>
	<key>API_KEY</key>
	<string>AIzaSyBl7VX8D5YlOEu2GpFBHi6n83MP_2bThjg</string>
	<key>GCM_SENDER_ID</key>
	<string>640146848434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appstudio.travelradar</string>
	<key>PROJECT_ID</key>
	<string>travel-radar-e1e68</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-radar-e1e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640146848434:ios:36095b5b26ffb48c7c27ab</string>
</dict>
</plist>